body {
  font-family: fantasy;
  background-color: rgb(253, 251, 251);
  margin: 20px;

}

main {
  color: palevioletred;
  font-weight: 700;
  line-height: 20px;
}

#lado1 {
  display: inline-block;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(253, 251, 251);
  width: 100%;
  text-align: center;
}

#minha_foto {
  border: rgb(253, 251, 251);
  border-radius: 10px;
  width: 300px;
  margin: 10px;

}

table {
  margin-top: 150px;
}

#table , th , td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 100px;
}

#link {
  font-size: 20px;
}

.lado-esquerdo {
  border: 5px solid purple;
  border-radius: 10px;
  width: 40%;
  float: left;
}

.lado-direito {
  border: 5px solid purple;
  border-radius: 10px;
  width: 40%;
  float: right;
}

footer {
  padding: 20px;
}
